body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.content,
.button-container,
.game-area {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.intro {
    height: 15vh;
}



